.blog {
  margin-top: 40px;
}

.image {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 17px;
}

.type_1 .image {
  padding: 20px 0;
  background: #82CA9C;
}

.type_1 .image:before {
  top: 48px;
  left: 12px;
  width: 249px;
  height: 36px;
  background-image: url("../assets/icons/decor-yellow-big.svg");
}

.type_2 .image {
  padding: 17px 0;
  background-color: #F8AA9E;
}

.type_2 .image:before {
  top: 48px;
  left: 0;
  z-index: 1;
  width: 116px;
  height: 24px;
  background-image: url("../assets/icons/decor-pink-big-left.svg");
}

.type_2 .image:after {
  top: 118px;
  right: 0;
  z-index: 3;
  width: 116px;
  height: 24px;
  background-image: url("../assets/icons/decor-pink-big-right.svg");
}

.type_3 .image {
  padding: 23px 0;
  background-color: #008066;
}

.type_3 .image:before {
  top: 96px;
  left: 50%;
  z-index: 1;
  width: 238px;
  height: 27px;
  background-image: linear-gradient(to bottom, #ffffff 11px, transparent 11px,transparent 16px, #ffffff 16px, #ffffff 27px);
  transform: translateX(-50%);
}

.type_1 .image:before,
.type_2 .image:before,
.type_2 .image:after,
.type_3 .image:before {
  content: "";
  position: absolute;
}

.type_1 .image_type {
  width: 194px;
  height: 166px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.type_2 .image_type {
  position: relative;
  z-index: 2;
  width: 172px;
  height: 172px;
  border-radius: 50%;
  overflow: hidden;
}

.type_3 .image_type {
  position: relative;
  z-index: 2;
  width: 161px;
  height: 161px;
  overflow: hidden;
}

.route:after {
  content: "";
  position: absolute;
  top: 17px;
  right: -8px;
  width: 40px;
  height: 40px;
  background-image: url("../assets/icons/icon-route.svg");
}

@media (--screen-tablet) {
  .item {
    width: 228px;
  }

  .type_2 .image_type {
    width: 142px;
    height: 142px;
  }

  .type_3 .image_type {
    width: 134px;
    height: 134px;
  }
}