.place {
  margin-bottom: 68px;
}

.title {
  padding: 0 20px;
  font-size: 32px;
  line-height: 32px;
  text-align: center;

  b {
    text-transform: uppercase;
  }

  i {
    font-family: var(--decorative-font);
    font-weight: 400;
  }
}

.title_place {
  margin-bottom: 11px;
}

.title_blog {
  margin-bottom: 16px;
}

@media (--screen-tablet) {
  .place {
    margin-bottom: 26px;
  }

  .title_place {
    margin-bottom: 29px;
  }

  .title_blog {
    margin-bottom: 28px;
  }
}