@import "./_fonts.css";
@import "./_variables.css";
@import "./_normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  max-width: 768px;
  width: 100%;
  background-color: #ffffff;
  font-family: var(--default-font);
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 22px;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

a:not([class]) {
  position: relative;
}

button {
  border: 0;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

img:not([class]),
svg:not([class]) {
  display: block;
  max-width: 100%;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
